@import "variables";
@import "screen";

.app-layout {
  max-width: 960px;
  margin: 0 auto;
}

.app-nav-bar {
  .app-menu {
    text-decoration: none;
    color: $color-nav-item;

    &:hover {
      color: $color-nav-item-active;
    }

    &.router-link-active {
      color: $color-nav-item-active;
    }
  }
  .v-toolbar__content {
    max-width: 1024px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .v-app-bar-title {
      font-family: $font-brand;
      font-size: $font-brand-size;
      color: $font-brand-color;
    }
  }
}

.user-profile-card {
  font-size: 14px;
}

.post-item {
  .v-card__title {
    word-break: normal !important;
    line-height: $line-height-title;
  }
}

.font-size-10 {
  font-size: 10px;
}

.text-decoration-none {
  text-decoration: none;
}
